# Игнорирование node_modules
node_modules/

# Игнорирование лог-файлов
*.log
npm-debug.log*

# Игнорирование окружения
.env

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование сборочных директорий
dist/
build/

# Игнорирование IDE конфигурационных файлов
.vscode/
.idea/

# Игнорирование тестовых выходных данных
coverage/
